.btn {
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 24px;
  color: rgb(143, 143, 254);
  padding: 10px 15px;
  transition: all 0.3s ease;
  margin-bottom: 100px;
}
.btn:hover {
  border: 1px solid black;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(230, 225, 225);
  color: rgb(111, 111, 254);
}
